@charset "utf-8";

:root {
    --booking-button-color-1: #ffec64;
    --booking-button-color-2: #ffab23;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Arial;
}

.container {
    position: relative;
    height: 100%;
    margin: auto;
}
.mainArea {
    font-size: 20px;
    margin: 20px;
}

#logo {
    width: 40px;
}

#mainTable {
    display: table;
    border-collapse: collapse;
    border: 1px solid;
}

.tblRow {
    display: table-row;
}
.tblHdr, .tblDta {
    display: table-cell;
    border: 1px solid;
    padding: 0 3px;
}

#indxNextPg {
    border-radius: 5px;
    font-size: medium;
    background-color: #f3f384;
}

.enabled {
    cursor: pointer;
}
.disabled {
    cursor: not-allowed;
}

/* Distance field in booking table */
.distance {
    text-align: right;
    width: 28px;
    display: inline-block;
}

/* Booking button for donors */
.donorField, .donorBookingButton, .donorBookedFieldPrelByMe, .donorBookedFieldPrelByOther, .donorBookedFieldByMe, .donorBookedFieldByOther {
    padding: 2px;
    margin: 1px;
    display: inline-block;
}
.donorBookingButton {
    border: rgb(190, 190, 0) solid 1px;
    border-radius: 6px;
    color: green;
    background: linear-gradient(to bottom, var(--booking-button-color-1) 5%, var(--booking-button-color-2) 100%);
    cursor: pointer;
    text-shadow: 1px 1px 0px #ffee66;
}
.donorBookingButton:hover {
    background:linear-gradient(to bottom, var(--booking-button-color-2) 5%, var(--booking-button-color-1) 100%);
    background-color:var(--booking-button-color-2);
}
.donorBookingButton:active {
    position:relative;
    top:1px;
}

/* Replacement for donor booking button */
.donorBookedField, .donorBookedFieldPrelByMe, .donorBookedFieldPrelByOther, .donorBookedFieldByMe, .donorBookedFieldByOther {
    border-radius: 6px;
    text-shadow: 0px 1px 0px #dfe2dd;
}
.donorBookedFieldPrelByMe {
    border: rgb(96, 95, 138) solid 1px;
    color: rgba(31, 114, 42, 0.4);
    background: linear-gradient(to bottom, #dbdde0 5%, #030377 100%);
}
.donorBookedFieldByMe {
    border: rgb(95, 138, 102) solid 1px;
    color: rgb(31, 114, 42);
    background: linear-gradient(to bottom, #dbdde0 5%, #107a06 100%);
}
.donorBookedFieldPrelByOther {
    border: rgb(148, 173, 150) solid 1px;
    color: rgba(28, 29, 28, 0.4);
    background: linear-gradient(to bottom, #dfe0db 5%, #3d3d3c 100%);
}
.donorBookedFieldByOther {
    border: rgb(89, 89, 89) solid 1px;
    color: rgb(28, 29, 28);
    background: linear-gradient(to bottom, #dfe0db 5%, #959708 100%);
}
.legend {
    font-size: smaller;
}

.prologue {
    font-style: italic;
}

.cartCheckoutButton {
    color: rgb(43, 24, 131);
    display: table;
    grid-template-columns: 50px 30px 100px;
    z-index: 10;
    padding: 5px;
    margin:  5px;
    border-radius: 10px;
}

.cartContainer {
    display: table-row;
    vertical-align: middle;
}

.cartImage, .cartQuantity, .cartCheckout {
    display: table-cell;
    padding: 0 5px;
    vertical-align: middle;
}

.cartImage img {
    width: 40px;
    height: auto;
}
.cartQuantity {
    font-size: xx-large;
}

.checkoutTable {
    display: grid;
    grid-gap: 3px;
    background-color: #fff;
    color: #444;
    margin: 0 3vw;
}

.tableHdr, .tableElem {
    border-radius: 3px;
    padding: 3px;
}
.tableHdr {
    color: #e2e2e2;
    background-color: #a0a0a0;
}
.tableElem {
    color: #5c5c5c;
    background-color: #e0e0e0;
}

#confirmForm {
    margin: 40px auto;
    width: max-content;
}

#confirmButton {
    font-weight: bold;
    color: #5c5c5c;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
}

.hdr1, .hdr2, .hdr3 {
    display: block;
    font-weight: bold;
    color: #909090;
}
.hdr1 {
    margin: 5px 0 10px 5px;
}
.hdr2 {
    font-size: x-large;
    margin: 0 0 6px 0;
    text-align: center;
}
.hdr3 {
    font-size: large;
    text-align: center;
}

.largerNcolored {
    font-size: larger;
    background-color: lightyellow;
}

#identify {
    border: solid gray;
    padding: 5px 0 0 10px;
    border-radius: 15px;
}
#usrMail, #usrName {
    display: inline-block;
}
#LusrMail {
}
#usrName {
    padding-left: 20px;
}
#LusrName {
}
#inpMail {
    width: 250px;
}
#inpName {
    width: 400px;
}

.homeButtonArea {
    position: fixed;
    background-image: url("images/RynkebyBike.jpg");
    background-repeat: no-repeat;
}

#QtextPartFinalPage {
    height: 20%;
}
#iframePartFinalPage {
    height: 80%;
    width: 100%;
}
#frameMyCollection {
    width: 100%;
    height: 100%;
}

.hdr1Text {
    display: inline-block;
    text-align: center;
}

.banner {
    text-align: center;
    border: 3px solid red;
    padding: 10px;
}

/* Responsive settings */
@media screen and (max-width: 1199px) {
    .sticky-top-right {
        position: fixed;
        right: 0;
        top: 0;
    }
}

@media screen and (min-width: 400px) {
    .hdr1 {
        height: 40px;
    }
    .hdr1Text {
        font-size: 20px;
        margin-left: 60px;
        margin-right: 40px;
    }
    .homeButtonArea {
        height: 34px;
        width: 50px;
        background-size: 50px;
    }
    .checkoutTable {
        grid-template-columns: 17vw 52vw 22vw;
    }

    .cartCheckoutButton {
        font-size: 200px;
    }
    .cartCheckout {
        font-size: xx-large;
    }
    .banner {
        width: 350px;
    }
}

@media screen and (min-width: 600px) {
    .hdr1 {
        height: 50px;
    }
    .hdr1Text {
        font-size: 28px;
        margin-left: 80px;
        margin-right: 60px;
    }
    .homeButtonArea {
        height: 40px;
        width: 70px;
        background-size: 70px;
    }
    .cartCheckoutButton {
        font-size: inherit;
    }
    .banner {
        width: 500px;
    }
}

@media screen and (min-width: 800px) {
    .hdr1 {
        height: 60px;
    }
    .hdr1Text {
        font-size: 40px;
        margin-left: 120px;
        margin-right: 80px;
    }
    .homeButtonArea {
        height: 60px;
        width: 100px;
        background-size: 100px;
    }
    .checkoutTable {
        grid-template-columns: 135px 415px 135px;
    }
    .cartCheckout {
        font-size: larger;
    }
    .cartQuantity {
        font-size: larger;
    }
}

@media screen and (min-width: 1200px) {
    .hdr1 {
        height: 80px;
    }
    .hdr1Text {
        font-size: 52px;
        margin-left: 150px;
        margin-right: 150px;
    }
    .homeButtonArea {
        height: 80px;
        width: 125px;
        background-size: 125px;
    }
    .checkoutTable {
        grid-template-columns: 200px 625px 250px;
    }

    .sticky-top-right {
        position: fixed;
        left: 1000px;
        top: 0;
        width: calc(100% - 1000px);
    }
    .cartCheckoutButton {
        margin: 5px auto;

    }
}
@media screen and (min-width: 1450px) {
    .container {
        width: 1400px;
    }

    .hdr1 {
        height: 100px;
    }
    .hdr1Text {
        margin-left: 170px;
        margin-right: 170px;
    }
    .homeButtonArea {
        height: 100px;
        width: 150px;
        background-size: 150px;
    }
}
